.splash-section-a-background {
  background: #292B30;
}

.splash-section-a-text {
  color: #fffeec;
}

.splash-section-b-background {
  background: #E0E0E0;
}

.splash-section-b-text {
  color: #fffeec;
}

.splash-section-c-background {
  background: #EAEAEA;
}

.splash-section-c-text {
  color: #fffeec;
}